body {
  background-color: #446878;
  text-align: center;
  
  }
  .App{ 
  margin: 2rem;
  }
  ul{
  list-style-type: none;width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  li{
  background-color: #FEF4E8;
  border-radius: 25px;
  padding: 20px;
  margin-top:3rem;
  margin-right: 3rem;
  width: 200px;
  height: 200px;
  color: #970747
  }
  h1{
  
  text-align: center;
  color: #13445A;
  background-color: #FEF4E8;
  border-radius: 25px;
  }
  a{
  text-decoration: none;
  }
  p{
  color: #FEF4E8;

  }
  