@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;600&display=swap");

body {
    background-color: #446878;
    text-align: center;
}
.App {
    margin: 2rem;
    font-family: "Edu NSW ACT Foundation", cursive;
}
ul {
    list-style-type: none;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li {
    background-color: #fef4e8;
    border-radius: 25px;
    padding: 20px;
    margin-top: 3rem;
    margin-right: 3rem;
    width: 200px;
    height: 200px;
    color: #970747;
    position: relative;
}
h1 {
    text-align: center;
    color: #13445a;
    background-color: #fef4e8;
    border-radius: 25px;
    padding: 20px;
    font-size: 3rem;
}
a {
    text-decoration: none;
}
p {
    color: #fef4e8;
}
.delete {
    background-color: #fef4e8;
    border: #970747 solid 2px;
    border-radius: 100%;
    padding: 10px;
    z-index: 99;
    position: absolute;
    top: 5px;
    right: 5px;
}
.login {
    margin-top: 3rem;
}
.row {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 200px;
    padding: 1rem;
    /* #13445A; */
    font-size: 1rem;
    border: none !important;
    background-color: #fef4e8;
    border-radius: 25px;
}
::placeholder {
    color: #13445a;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 1.5rem;
}
button {
    padding: 5px;
    width: 230px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    color: #13445a;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 2rem;
    font-weight: bold;
}
.loggedInInfo {
    width: 20%;
    display: flex;
}
.info {
    font-size: 1.5rem;
    color: #fef4e8;
}
.infoLinks {
    font-size: 1.5rem;
    color: #fef4e8;
    display: flex;
    margin-top:3rem;
}
.addALink {
      border: 3px solid #970747;
      border-radius:25px;
      background-color: #13445a;
}

.linkform {
    margin: 1rem;
    font-size: 1.5rem;
    color: #970747;

  }
  .logout{
      margin-right: -1000px;
          
  }

